footer{
    background: rgb(249,208,163) !important;
    background: linear-gradient(137deg, rgba(249,208,163,0.7065753154574133) 50%, rgba(253,217,11,0.6592567034700316) 100%);
}

.footer__icon{
    color: #151217;
    font-size: 50px;
}


.footer__icon:hover{
    cursor: pointer;
    color: #15121798;
}

.footer__logo{
    max-width: 382px;
}