<main class="main--about">
    <section class="main__section h-100 d-flex flex-column align-items-start justify-content-center my-5">
        <article class="main__article history my-4 me-4">
            <h1 class="main__title">Notre Histoire</h1>
            <p class="main__text">Bienvenue chez "Au petit village", là où la magie des Gaulois prend vie à travers des figurines artisanales uniques. Inspirée par les aventures intemporelles d'Astérix et Obélix, notre entreprise est née de la passion pour la bande dessinée classique qui a enchanté des générations. Fondée par des amoureux des histoires de René Goscinny et Albert Uderzo, nous nous engageons à capturer l'esprit espiègle et courageux des célèbres Gaulois dans chaque création.</p>
        </article>

        <article class="main__article mission ms-sm-auto my-4 ms-4">
            <h1 class="main__title">Notre Mission</h1>
            <p class="main__text">Chez "Au petit village", nous avons pour mission de ramener une touche de nostalgie et de joie dans la vie des collectionneurs et des fans d'Astérix et Obélix. Chaque figurine est méticuleusement faite à la main, reflétant notre dévouement à la qualité et à l'authenticité. Nous souhaitons offrir à nos clients des pièces d'art exceptionnelles qui incarnent l'énergie et le charme des personnages bien-aimés de la bande dessinée.</p>
        </article>
        
        <article class="main__article engagement my-4 me-4">
            <h1 class="main__title">Notre Engagement</h1>
            <p class="main__text">Nous nous engageons à offrir une expérience d'achat exceptionnelle à nos clients. Notre site web, conçu pour être accessible et intuitif, vous permet de parcourir facilement notre collection, de découvrir les détails de chaque produit et de contacter notre équipe pour toute question ou demande particulière. Nous sommes fiers de fournir des produits de haute qualité et un service client attentionné, parce que chez "Au petit village", nous croyons que chaque client mérite de se sentir comme un membre de notre communauté.</p>
        </article>
    </section>
</main>